* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 3rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  .btn{
    height: 50px;
    width: 150px;
    background-color: #081b31;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 50px;

  }
.show-win{
  height: 40px;
  width: 350px;
  background-color: green;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
  padding-top: 15px;
  position: fixed;
  top: 100px;
  left:680px;
  display: none;
}